<a href="https://colab.research.google.com/github/gjrkdgh0772/Finance/blob/main/lec_09%ED%8E%80%EB%93%9C_%EA%B0%95%ED%98%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LEC09_FUND

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from IPython.display import Image

import warnings
warnings.filterwarnings(action='ignore')

#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family']= 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
sns.set()

#-------------------- 주피터 , 출력결과 넓이 늘리기 ---------------
from IPython.core.display import display, HTML
display(HTML("<style>.container{width:100% !important;}</style>"))
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('max_colwidth', None)

plt.rc('font', family='Malgun Gothic')

* 시가총액 상위 10개종목 :  업체명, 발행주식수, 유동비율 프레임화

* 시가총액계산 = 일별주가*발행주식수*(유동비율%*0.01)

* 일자별 10개종목의 시가총액계산(총합) 2017-01-02기준 index지수화

* 코스피200지수

* 두지수 차트로 비교

In [ ]:
# ! pip install -U finance-datareader
# ! pip install finance-datareader
# ! pip install pykrx
# ! pip install bokeh
# ! pip install yfinance
# ! pip install pandas_datareader

In [ ]:
# ! pip install plotly

In [ ]:
from pykrx import stock
from pykrx import bond
for ticker in stock.get_index_ticker_list():
    print(ticker, stock.get_index_ticker_name(ticker))

1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품
1006 섬유의복
1007 종이목재
1008 화학
1009 의약품
1010 비금속광물
1011 철강금속
1012 기계
1013 전기전자
1014 의료정밀
1015 운수장비
1016 유통업
1017 전기가스업
1018 건설업
1019 운수창고업
1020 통신업
1021 금융업
1022 은행
1024 증권
1025 보험
1026 서비스업
1027 제조업
1028 코스피 200
1034 코스피 100
1035 코스피 50
1150 코스피 200 커뮤니케이션서비스
1151 코스피 200 건설
1152 코스피 200 중공업
1153 코스피 200 철강/소재
1154 코스피 200 에너지/화학
1155 코스피 200 정보기술
1156 코스피 200 금융
1157 코스피 200 생활소비재
1158 코스피 200 경기소비재
1159 코스피 200 산업재
1160 코스피 200 헬스케어
1167 코스피 200 중소형주
1182 코스피 200 초대형제외 지수
1224 코스피 200 비중상한 30%
1227 코스피 200 비중상한 25%
1232 코스피 200 비중상한 20%
1244 코스피200제외 코스피지수
1894 코스피 200 TOP 10

In [ ]:
pdf = stock.get_index_portfolio_deposit_file("1035")
print(len(pdf), pdf)

50 ['005930', '373220', '000660', '035420', '207940', '035720', '006400', '005380', '051910', '000270', '005490', '105560', '323410', '068270', '055550', '028260', '012330', '096770', '066570', '377300', '034730', '015760', '086790', '051900', '259960', '352820', '032830', '017670', '009150', '003550', '302440', '033780', '010950', '010130', '316140', '018260', '000810', '036570', '030200', '090430', '251270', '003670', '361610', '024110', '034220', '011170', '086280', '326030', '018880', '009540']

In [ ]:
pdf = ['005930',  '000660', '035420', '207940', '035720', '006400', '005380', '051910', '000270', '005490']

In [ ]:
종목_list = []
for ticker in pdf:
    종목 = stock.get_market_ticker_name(ticker)
    종목_list.append(종목)

In [ ]:
종목_list

['삼성전자',
 'SK하이닉스',
 'NAVER',
 '삼성바이오로직스',
 '카카오',
 '삼성SDI',
 '현대차',
 'LG화학',
 '기아',
 'POSCO홀딩스']

## 발행주식수 가져오기

In [ ]:
시가총액_상위_10 = pdf

In [ ]:
상장주식수_list = []
for 상장번호 in 시가총액_상위_10:
        
    df = stock.get_market_cap("20210101", "20211231", 상장번호)
    상장주식수 = df['상장주식수'].tolist()
    상장주식수_list.append(상장주식수)

In [1]:
# 상장주식수_list

##일별주가 가져오기

In [ ]:
일별종가 = []
for 종목 in pdf:

    df = stock.get_market_ohlcv("20210101", "20211231", 종목)
    일별종가.append(df['종가'].tolist())

In [ ]:
# 일별종가[0]

In [ ]:
index_list = df.index.tolist()

In [ ]:
코스피대장주 = pd.DataFrame(data=None, index=index_list, columns=종목_list)
코스피대장주

           삼성전자 SK하이닉스 NAVER 삼성바이오로직스  카카오 삼성SDI  현대차 LG화학   기아 POSCO홀딩스
2021-01-04  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-01-05  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-01-06  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-01-07  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-01-08  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
...         ...    ...   ...      ...  ...   ...  ...  ...  ...      ...
2021-12-24  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-12-27  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-12-28  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-12-29  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN
2021-12-30  NaN    NaN   NaN      NaN  NaN   NaN  NaN  NaN  NaN      NaN

[248 rows x 10 columns]

In [ ]:
for i,종목 in enumerate(종목_list):
    코스피대장주[종목] = 일별종가[i]

In [ ]:
코스피대장주

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,83000,126000,293000,819298,79483,671000,207500,889000,64000,273000
2021-01-05,83900,130500,292500,822263,78881,686000,209500,893000,63700,285000
2021-01-06,82200,131000,290000,807438,79383,680000,203000,890000,62200,280000
2021-01-07,82900,134500,289500,809415,80788,698000,206000,962000,63000,291000
2021-01-08,88800,138000,312000,827204,87111,739000,246000,999000,68300,294500
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,80500,128000,384000,874642,114500,651000,215500,621000,85100,284000
2021-12-27,80200,126000,380500,875631,113000,644000,213500,627000,84800,281500
2021-12-28,80300,127500,384500,880572,113500,651000,214000,632000,84500,283500
2021-12-29,78800,127000,382000,879584,114000,663000,212000,628000,83400,279000
2021-12-30,78300,131000,378500,892432,112500,655000,209000,615000,82200,274500

In [ ]:
발행주식수 = pd.DataFrame(data=None, index=index_list, columns=종목_list)

for i,종목 in enumerate(종목_list):
    발행주식수[종목] = 상장주식수_list[i]

In [ ]:
발행주식수

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-05,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-06,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-07,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-08,5969782550,728002365,164263395,66165000,88459906,68764530,213668187,70592343,405363347,87186835
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-27,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-28,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-29,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-30,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835

In [ ]:
import bs4
from urllib.request import urlopen
import re

# k10_outstanding = dict()
k10_floating = []
# k10_name = dict()


def stock_info(stock_cd):

	url_float = 'http://companyinfo.stock.naver.com/v1/company/c1010001.aspx?cmp_cd=' + stock_cd

	source = urlopen(url_float).read()
	soup = bs4.BeautifulSoup(source, 'lxml')

	#	Xpath = //*[@id="cTB11"]/tbody/tr[7]/td

	data = soup.find(id='cTB11').find_all('tr')[6].td.text

	tmp = data
	tmp = tmp.replace('\r', '')
	tmp = tmp.replace('\n', '')
	tmp = tmp.replace('\t', '')

	tmp = re.split('/', tmp)

	tmp[0] = tmp[0].replace('주', '')
	tmp[0] = tmp[0].replace(',', '')
	tmp[0] = tmp[0].replace(' ', '')

	outstanding = int(tmp[0])

	tmp[1] = tmp[1].replace('%', '')
	tmp[1] = tmp[1].replace(' ', '')

	floating = float(tmp[1])

	#	//*[@id="pArea"]/div[1]/div/table/tbody/tr[1]/td/dl/dt[1]/span
	name = soup.find(id='pArea').find('div').find('div').find('tr').find('td').find('span').text

	# k10_outstanding[stock_cd] = outstanding
	k10_floating.append(floating)
	# k10_name[stock_cd] = name

In [ ]:
for 종목코드 in pdf:

    stock_info(종목코드)


k10_floating

[75.13, 74.3, 81.81, 30.09, 73.07, 72.89, 63.58, 66.13, 61.91, 68.17]

In [ ]:
코스피대장주.head()

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,83000,126000,293000,819298,79483,671000,207500,889000,64000,273000
2021-01-05,83900,130500,292500,822263,78881,686000,209500,893000,63700,285000
2021-01-06,82200,131000,290000,807438,79383,680000,203000,890000,62200,280000
2021-01-07,82900,134500,289500,809415,80788,698000,206000,962000,63000,291000
2021-01-08,88800,138000,312000,827204,87111,739000,246000,999000,68300,294500

In [ ]:
발행주식수.head()

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-05,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-06,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-07,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-08,5969782550,728002365,164263395,66165000,88459906,68764530,213668187,70592343,405363347,87186835

In [ ]:
유동주식비율 = k10_floating

In [ ]:
유동주식비율

[75.13, 74.3, 81.81, 30.09, 73.07, 72.89, 63.58, 66.13, 61.91, 68.17]

In [ ]:
코스피대장주.iloc[:,0]
발행주식수.iloc[:,0]

2021-01-04    5969782550
2021-01-05    5969782550
2021-01-06    5969782550
2021-01-07    5969782550
2021-01-08    5969782550
                 ...
2021-12-24    5969782550
2021-12-27    5969782550
2021-12-28    5969782550
2021-12-29    5969782550
2021-12-30    5969782550
Name: 삼성전자, Length: 248, dtype: int64

In [ ]:
시가총액_list = []
for i in range(0,10):
    df = 코스피대장주.iloc[:,i] * 발행주식수.iloc[:,i] * 유동주식비율[i]
    시가총액_list.append(df.tolist())

In [2]:
# 시가총액_list

In [ ]:
시가총액 = pd.DataFrame(data=None, index=index_list, columns=종목_list)
for i,종목 in enumerate(종목_list):
    시가총액[종목] = 시가총액_list[i]

In [ ]:
시가총액

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,3.722631e+16,6.815413e+15,3.937448e+15,1.631144e+15,5.136238e+14,3.363217e+15,2.818892e+15,4.150093e+15,1.606147e+15,1.622583e+15
2021-01-05,3.762997e+16,7.058820e+15,3.930729e+15,1.637047e+15,5.097337e+14,3.438401e+15,2.846062e+15,4.168767e+15,1.598618e+15,1.693905e+15
2021-01-06,3.686750e+16,7.085865e+15,3.897133e+15,1.607532e+15,5.129776e+14,3.408328e+15,2.757760e+15,4.154762e+15,1.560974e+15,1.664187e+15
2021-01-07,3.718146e+16,7.275182e+15,3.890413e+15,1.611468e+15,5.220568e+14,3.498548e+15,2.798515e+15,4.490877e+15,1.581051e+15,1.729566e+15
2021-01-08,3.982767e+16,7.464499e+15,4.192777e+15,1.646884e+15,5.630651e+14,3.704050e+15,3.341916e+15,4.663603e+15,1.714060e+15,1.750369e+15
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,3.610504e+16,6.923594e+15,5.153609e+15,1.741329e+15,3.729666e+15,3.262973e+15,2.927573e+15,2.898997e+15,2.135673e+15,1.687962e+15
2021-12-27,3.597048e+16,6.815413e+15,5.106636e+15,1.743298e+15,3.680806e+15,3.227887e+15,2.900402e+15,2.927006e+15,2.128145e+15,1.673103e+15
2021-12-28,3.601533e+16,6.896548e+15,5.160319e+15,1.753135e+15,3.697092e+15,3.262973e+15,2.907195e+15,2.950348e+15,2.120616e+15,1.684990e+15
2021-12-29,3.534257e+16,6.869503e+15,5.126767e+15,1.751168e+15,3.713379e+15,3.323119e+15,2.880025e+15,2.931675e+15,2.093010e+15,1.658244e+15
2021-12-30,3.511831e+16,7.085865e+15,5.079794e+15,1.776747e+15,3.664519e+15,3.283022e+15,2.839270e+15,2.870987e+15,2.062895e+15,1.631498e+15

In [ ]:
시가총액['전체시가총액']=시가총액.sum(axis=1)

In [ ]:
시가총액.sum(axis=1)

2021-01-04    1.273697e+17
2021-01-05    1.290241e+17
2021-01-06    1.270340e+17
2021-01-07    1.291583e+17
2021-01-08    1.377378e+17
                  ...
2021-12-24    1.331328e+17
2021-12-27    1.323464e+17
2021-12-28    1.328971e+17
2021-12-29    1.313789e+17
2021-12-30    1.308258e+17
Length: 248, dtype: float64

In [ ]:
시가총액

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스,전체시가총액
2021-01-04,3.722631e+16,6.815413e+15,3.937448e+15,1.631144e+15,5.136238e+14,3.363217e+15,2.818892e+15,4.150093e+15,1.606147e+15,1.622583e+15,6.368487e+16
2021-01-05,3.762997e+16,7.058820e+15,3.930729e+15,1.637047e+15,5.097337e+14,3.438401e+15,2.846062e+15,4.168767e+15,1.598618e+15,1.693905e+15,6.451205e+16
2021-01-06,3.686750e+16,7.085865e+15,3.897133e+15,1.607532e+15,5.129776e+14,3.408328e+15,2.757760e+15,4.154762e+15,1.560974e+15,1.664187e+15,6.351702e+16
2021-01-07,3.718146e+16,7.275182e+15,3.890413e+15,1.611468e+15,5.220568e+14,3.498548e+15,2.798515e+15,4.490877e+15,1.581051e+15,1.729566e+15,6.457914e+16
2021-01-08,3.982767e+16,7.464499e+15,4.192777e+15,1.646884e+15,5.630651e+14,3.704050e+15,3.341916e+15,4.663603e+15,1.714060e+15,1.750369e+15,6.886889e+16
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,3.610504e+16,6.923594e+15,5.153609e+15,1.741329e+15,3.729666e+15,3.262973e+15,2.927573e+15,2.898997e+15,2.135673e+15,1.687962e+15,6.656641e+16
2021-12-27,3.597048e+16,6.815413e+15,5.106636e+15,1.743298e+15,3.680806e+15,3.227887e+15,2.900402e+15,2.927006e+15,2.128145e+15,1.673103e+15,6.617318e+16
2021-12-28,3.601533e+16,6.896548e+15,5.160319e+15,1.753135e+15,3.697092e+15,3.262973e+15,2.907195e+15,2.950348e+15,2.120616e+15,1.684990e+15,6.644855e+16
2021-12-29,3.534257e+16,6.869503e+15,5.126767e+15,1.751168e+15,3.713379e+15,3.323119e+15,2.880025e+15,2.931675e+15,2.093010e+15,1.658244e+15,6.568946e+16
2021-12-30,3.511831e+16,7.085865e+15,5.079794e+15,1.776747e+15,3.664519e+15,3.283022e+15,2.839270e+15,2.870987e+15,2.062895e+15,1.631498e+15,6.541291e+16

* 시가총액 상위 10개종목 :  업체명, 발행주식수, 유동비율 프레임화

* 시가총액계산 = 일별주가 * 발행주식수 * (유동비율%*0.01)

* 일자별 10개종목의 시가총액계산(총합) 2017-01-02기준 index지수화

* 코스피200지수

* 두지수 차트로 비교

In [ ]:
시가총액['지수'] = 시가총액['전체시가총액']/시가총액['전체시가총액'][0] * 100

In [ ]:
시가총액

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스,전체시가총액,지수
2021-01-04,3.722631e+16,6.815413e+15,3.937448e+15,1.631144e+15,5.136238e+14,3.363217e+15,2.818892e+15,4.150093e+15,1.606147e+15,1.622583e+15,6.368487e+16,100.000000
2021-01-05,3.762997e+16,7.058820e+15,3.930729e+15,1.637047e+15,5.097337e+14,3.438401e+15,2.846062e+15,4.168767e+15,1.598618e+15,1.693905e+15,6.451205e+16,101.298865
2021-01-06,3.686750e+16,7.085865e+15,3.897133e+15,1.607532e+15,5.129776e+14,3.408328e+15,2.757760e+15,4.154762e+15,1.560974e+15,1.664187e+15,6.351702e+16,99.736435
2021-01-07,3.718146e+16,7.275182e+15,3.890413e+15,1.611468e+15,5.220568e+14,3.498548e+15,2.798515e+15,4.490877e+15,1.581051e+15,1.729566e+15,6.457914e+16,101.404204
2021-01-08,3.982767e+16,7.464499e+15,4.192777e+15,1.646884e+15,5.630651e+14,3.704050e+15,3.341916e+15,4.663603e+15,1.714060e+15,1.750369e+15,6.886889e+16,108.140111
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,3.610504e+16,6.923594e+15,5.153609e+15,1.741329e+15,3.729666e+15,3.262973e+15,2.927573e+15,2.898997e+15,2.135673e+15,1.687962e+15,6.656641e+16,104.524682
2021-12-27,3.597048e+16,6.815413e+15,5.106636e+15,1.743298e+15,3.680806e+15,3.227887e+15,2.900402e+15,2.927006e+15,2.128145e+15,1.673103e+15,6.617318e+16,103.907217
2021-12-28,3.601533e+16,6.896548e+15,5.160319e+15,1.753135e+15,3.697092e+15,3.262973e+15,2.907195e+15,2.950348e+15,2.120616e+15,1.684990e+15,6.644855e+16,104.339614
2021-12-29,3.534257e+16,6.869503e+15,5.126767e+15,1.751168e+15,3.713379e+15,3.323119e+15,2.880025e+15,2.931675e+15,2.093010e+15,1.658244e+15,6.568946e+16,103.147667
2021-12-30,3.511831e+16,7.085865e+15,5.079794e+15,1.776747e+15,3.664519e+15,3.283022e+15,2.839270e+15,2.870987e+15,2.062895e+15,1.631498e+15,6.541291e+16,102.713422

# 코스피 200지수

In [ ]:
df = stock.get_index_fundamental("20210101", "20211231", "1028")       
시가총액['코스피200지수'] = df['종가']

In [ ]:
# making dual axis and defining categories
import plotly.graph_objects as go
from plotly.subplots import make_subplots
fig = make_subplots(specs=[[{"secondary_y": True}]])

# creating first plot
fig.add_trace(
    go.Scatter(x=시가총액.index, y=시가총액['지수'], name='탑10지수'),
    secondary_y=False,
)

# creating next plot
fig.add_trace(
   go.Scatter(x=시가총액.index, y=시가총액['코스피200지수'], name='코스피200') , 
    secondary_y=True,
)

fig.show(renderer='colab')

In [ ]:
시가총액.head()

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스,전체시가총액,지수,코스피200지수
2021-01-04,3.722631e+16,6.815413e+15,3.937448e+15,1.631144e+15,5.136238e+14,3.363217e+15,2.818892e+15,4.150093e+15,1.606147e+15,1.622583e+15,6.368487e+16,100.000000,399.88
2021-01-05,3.762997e+16,7.058820e+15,3.930729e+15,1.637047e+15,5.097337e+14,3.438401e+15,2.846062e+15,4.168767e+15,1.598618e+15,1.693905e+15,6.451205e+16,101.298865,406.03
2021-01-06,3.686750e+16,7.085865e+15,3.897133e+15,1.607532e+15,5.129776e+14,3.408328e+15,2.757760e+15,4.154762e+15,1.560974e+15,1.664187e+15,6.351702e+16,99.736435,402.08
2021-01-07,3.718146e+16,7.275182e+15,3.890413e+15,1.611468e+15,5.220568e+14,3.498548e+15,2.798515e+15,4.490877e+15,1.581051e+15,1.729566e+15,6.457914e+16,101.404204,410.81
2021-01-08,3.982767e+16,7.464499e+15,4.192777e+15,1.646884e+15,5.630651e+14,3.704050e+15,3.341916e+15,4.663603e+15,1.714060e+15,1.750369e+15,6.886889e+16,108.140111,430.22

In [ ]:
발행주식수.head()

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-05,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-06,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-07,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-08,5969782550,728002365,164263395,66165000,88459906,68764530,213668187,70592343,405363347,87186835

In [ ]:
코스피대장주.head()

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,83000,126000,293000,819298,79483,671000,207500,889000,64000,273000
2021-01-05,83900,130500,292500,822263,78881,686000,209500,893000,63700,285000
2021-01-06,82200,131000,290000,807438,79383,680000,203000,890000,62200,280000
2021-01-07,82900,134500,289500,809415,80788,698000,206000,962000,63000,291000
2021-01-08,88800,138000,312000,827204,87111,739000,246000,999000,68300,294500

#펀드 설정 시작

In [ ]:
펀드 = pd.DataFrame()

##편입비중

In [ ]:
펀드['삼성전자_편입비중'] = 시가총액['삼성전자']/시가총액['전체시가총액']
펀드['SK하이닉스_편입비중'] = 시가총액['SK하이닉스']/시가총액['전체시가총액']
펀드['NAVER_편입비중'] = 시가총액['NAVER']/시가총액['전체시가총액']
펀드['삼성바이오로직스_편입비중'] = 시가총액['삼성바이오로직스']/시가총액['전체시가총액']
펀드['카카오_편입비중'] = 시가총액['카카오']/시가총액['전체시가총액']
펀드['삼성SDI_편입비중'] = 시가총액['삼성SDI']/시가총액['전체시가총액']
펀드['현대차_편입비중'] = 시가총액['현대차']/시가총액['전체시가총액']
펀드['LG화학_편입비중'] = 시가총액['LG화학']/시가총액['전체시가총액']
펀드['기아_편입비중'] = 시가총액['기아']/시가총액['전체시가총액']
펀드['POSCO홀딩스_편입비중'] = 시가총액['POSCO홀딩스']/시가총액['전체시가총액']

In [ ]:
펀드['지수'] = 시가총액['지수']

# 설정좌수 100000만
# 총좌수를 5천씩 늘린다고 가정

In [ ]:
펀드['총좌수'] = 100000

In [ ]:
펀드['총좌수'][247]

100000

In [ ]:
총좌수 = list(range(100000,2000000,1000))[:248]

In [ ]:
# for i,e in enumerate(list(range(100000,2000000,1000))):
#     if 펀드['총좌수'][i] == True:
#         펀드['총좌수'][i] = e
#     else:
#         break

In [ ]:
펀드['총좌수'] = 총좌수

In [ ]:
펀드['총좌수']

2021-01-04    100000
2021-01-05    101000
2021-01-06    102000
2021-01-07    103000
2021-01-08    104000
               ...
2021-12-24    343000
2021-12-27    344000
2021-12-28    345000
2021-12-29    346000
2021-12-30    347000
Name: 총좌수, Length: 248, dtype: int64

In [ ]:
펀드['iNAV'] = 20000

In [ ]:
펀드['iNAV']  =  20000 * 펀드['지수']/100

In [ ]:
펀드['AUM'] = 펀드['총좌수']*펀드['iNAV']

In [ ]:
펀드

,삼성전자_편입비중,SK하이닉스_편입비중,NAVER_편입비중,삼성바이오로직스_편입비중,카카오_편입비중,삼성SDI_편입비중,현대차_편입비중,LG화학_편입비중,기아_편입비중,POSCO홀딩스_편입비중,지수,총좌수,iNAV,AUM
2021-01-04,0.584539,0.107018,0.061827,0.025613,0.008065,0.052810,0.044263,0.065166,0.025220,0.025478,100.000000,100000,20000.000000,2.000000e+09
2021-01-05,0.583301,0.109419,0.060930,0.025376,0.007901,0.053299,0.044117,0.064620,0.024780,0.026257,101.298865,101000,20259.772964,2.046237e+09
2021-01-06,0.580435,0.111559,0.061356,0.025309,0.008076,0.053660,0.043418,0.065412,0.024576,0.026201,99.736435,102000,19947.287091,2.034623e+09
2021-01-07,0.575750,0.112655,0.060243,0.024953,0.008084,0.054175,0.043335,0.069541,0.024482,0.026782,101.404204,103000,20280.840895,2.088927e+09
2021-01-08,0.578311,0.108387,0.060881,0.023913,0.008176,0.053784,0.048526,0.067717,0.024889,0.025416,108.140111,104000,21628.022146,2.249314e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,0.542391,0.104010,0.077421,0.026159,0.056029,0.049018,0.043980,0.043550,0.032083,0.025358,104.524682,343000,20904.936412,7.170393e+09
2021-12-27,0.543581,0.102994,0.077171,0.026344,0.055624,0.048779,0.043830,0.044233,0.032160,0.025284,103.907217,344000,20781.443318,7.148817e+09
2021-12-28,0.542003,0.103788,0.077659,0.026383,0.055638,0.049105,0.043751,0.044400,0.031914,0.025358,104.339614,345000,20867.922854,7.199433e+09
2021-12-29,0.538025,0.104575,0.078046,0.026658,0.056529,0.050588,0.043843,0.044629,0.031862,0.025244,103.147667,346000,20629.533420,7.137819e+09
2021-12-30,0.536871,0.108325,0.077657,0.027162,0.056021,0.050189,0.043405,0.043890,0.031537,0.024942,102.713422,347000,20542.684418,7.128311e+09

In [ ]:
코스피대장주.head()

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,83000,126000,293000,819298,79483,671000,207500,889000,64000,273000
2021-01-05,83900,130500,292500,822263,78881,686000,209500,893000,63700,285000
2021-01-06,82200,131000,290000,807438,79383,680000,203000,890000,62200,280000
2021-01-07,82900,134500,289500,809415,80788,698000,206000,962000,63000,291000
2021-01-08,88800,138000,312000,827204,87111,739000,246000,999000,68300,294500

In [ ]:
len(펀드.index)

248

In [ ]:
len(range(0,248))

248

In [ ]:
# 펀드['삼성전자_매매내역'] = 펀드['삼성전자_편입비중']*펀드['AUM']/코스피대장주['삼성전자']
# 펀드['SK하이닉스_매매내역'] = 펀드['SK하이닉스_편입비중']*펀드['AUM']/코스피대장주['SK하이닉스']
# 펀드['NAVER_매매내역'] = 펀드['NAVER_편입비중']*펀드['AUM']/코스피대장주['NAVER']
# 펀드['삼성바이오로직스_매매내역'] = 펀드['삼성바이오로직스_편입비중']*펀드['AUM']/코스피대장주['삼성바이오로직스']
# 펀드['카카오_매매내역'] = 펀드['카카오_편입비중']*펀드['AUM']/코스피대장주['카카오']
# 펀드['삼성SDI_매매내역'] = 펀드['삼성SDI_편입비중']*펀드['AUM']/코스피대장주['삼성SDI']
# 펀드['현대차_매매내역'] = 펀드['현대차_편입비중']*펀드['AUM']/코스피대장주['현대차']
# 펀드['LG화학_매매내역'] = 펀드['LG화학_편입비중']*펀드['AUM']/코스피대장주['LG화학']
# 펀드['기아_매매내역'] = 펀드['기아_편입비중']*펀드['AUM']/코스피대장주['기아']
# 펀드['POSCO홀딩스_매매내역'] = 펀드['POSCO홀딩스_편입비중']*펀드['AUM']/코스피대장주['POSCO홀딩스']

In [ ]:
펀드['삼성전자_매매내역'] = 0
펀드['SK하이닉스_매매내역'] =0
펀드['NAVER_매매내역'] = 0
펀드['삼성바이오로직스_매매내역'] = 0
펀드['카카오_매매내역'] = 0
펀드['삼성SDI_매매내역'] = 0
펀드['현대차_매매내역'] = 0
펀드['LG화학_매매내역'] = 0
펀드['기아_매매내역'] = 0
펀드['POSCO홀딩스_매매내역'] = 0

In [ ]:
for i in range(0,248):
    펀드['삼성전자_매매내역'][i] = 펀드['삼성전자_편입비중'][i]*펀드['AUM'][i]/코스피대장주['삼성전자'][i]
    펀드['SK하이닉스_매매내역'][i] = 펀드['SK하이닉스_편입비중'][i]*펀드['AUM'][i]/코스피대장주['SK하이닉스'][i]
    펀드['NAVER_매매내역'][i] = 펀드['NAVER_편입비중'][i]*펀드['AUM'][i]/코스피대장주['NAVER'][i]
    펀드['삼성바이오로직스_매매내역'][i] = 펀드['삼성바이오로직스_편입비중'][i]*펀드['AUM'][i]/코스피대장주['삼성바이오로직스'][i]
    펀드['카카오_매매내역'][i] = 펀드['카카오_편입비중'][i]*펀드['AUM'][i]/코스피대장주['카카오'][i]
    펀드['삼성SDI_매매내역'][i] = 펀드['삼성SDI_편입비중'][i]*펀드['AUM'][i]/코스피대장주['삼성SDI'][i]
    펀드['현대차_매매내역'][i] = 펀드['현대차_편입비중'][i]*펀드['AUM'][i]/코스피대장주['현대차'][i]
    펀드['LG화학_매매내역'][i] = 펀드['LG화학_편입비중'][i]*펀드['AUM'][i]/코스피대장주['LG화학'][i]
    펀드['기아_매매내역'][i] = 펀드['기아_편입비중'][i]*펀드['AUM'][i]/코스피대장주['기아'][i]
    펀드['POSCO홀딩스_매매내역'][i] = 펀드['POSCO홀딩스_편입비중'][i]*펀드['AUM'][i]/코스피대장주['POSCO홀딩스'][i]

In [ ]:
펀드

,삼성전자_편입비중,SK하이닉스_편입비중,NAVER_편입비중,삼성바이오로직스_편입비중,카카오_편입비중,삼성SDI_편입비중,현대차_편입비중,LG화학_편입비중,기아_편입비중,POSCO홀딩스_편입비중,지수,총좌수,iNAV,AUM,삼성전자_매매내역,SK하이닉스_매매내역,NAVER_매매내역,삼성바이오로직스_매매내역,카카오_매매내역,삼성SDI_매매내역,현대차_매매내역,LG화학_매매내역,기아_매매내역,POSCO홀딩스_매매내역
2021-01-04,0.584539,0.107018,0.061827,0.025613,0.008065,0.052810,0.044263,0.065166,0.025220,0.025478,100.000000,100000,20000.000000,2.000000e+09,14085,1698,422,62,202,157,426,146,788,186
2021-01-05,0.583301,0.109419,0.060930,0.025376,0.007901,0.053299,0.044117,0.064620,0.024780,0.026257,101.298865,101000,20259.772964,2.046237e+09,14226,1715,426,63,204,158,430,148,796,188
2021-01-06,0.580435,0.111559,0.061356,0.025309,0.008076,0.053660,0.043418,0.065412,0.024576,0.026201,99.736435,102000,19947.287091,2.034623e+09,14366,1732,430,63,206,160,435,149,803,190
2021-01-07,0.575750,0.112655,0.060243,0.024953,0.008084,0.054175,0.043335,0.069541,0.024482,0.026782,101.404204,103000,20280.840895,2.088927e+09,14507,1749,434,64,209,162,439,151,811,192
2021-01-08,0.578311,0.108387,0.060881,0.023913,0.008176,0.053784,0.048526,0.067717,0.024889,0.025416,108.140111,104000,21628.022146,2.249314e+09,14648,1766,438,65,211,163,443,152,819,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,0.542391,0.104010,0.077421,0.026159,0.056029,0.049018,0.043980,0.043550,0.032083,0.025358,104.524682,343000,20904.936412,7.170393e+09,48312,5826,1445,214,3508,539,1463,502,2703,640
2021-12-27,0.543581,0.102994,0.077171,0.026344,0.055624,0.048779,0.043830,0.044233,0.032160,0.025284,103.907217,344000,20781.443318,7.148817e+09,48453,5843,1449,215,3518,541,1467,504,2711,642
2021-12-28,0.542003,0.103788,0.077659,0.026383,0.055638,0.049105,0.043751,0.044400,0.031914,0.025358,104.339614,345000,20867.922854,7.199433e+09,48594,5860,1454,215,3529,543,1471,505,2719,643
2021-12-29,0.538025,0.104575,0.078046,0.026658,0.056529,0.050588,0.043843,0.044629,0.031862,0.025244,103.147667,346000,20629.533420,7.137819e+09,48735,5877,1458,216,3539,544,1476,507,2726,645
2021-12-30,0.536871,0.108325,0.077657,0.027162,0.056021,0.050189,0.043405,0.043890,0.031537,0.024942,102.713422,347000,20542.684418,7.128311e+09,48875,5894,1462,216,3549,546,1480,508,2734,647

In [ ]:
누적주식보유수 = 펀드.iloc[:,-10:].copy()

In [ ]:
누적주식보유수.columns = ['삼성전자_누적주식보유수', 'SK하이닉스_누적주식보유수', 'NAVER_누적주식보유수', '삼성바이오로직스_누적주식보유수', '카카오_누적주식보유수',
       '삼성SDI_누적주식보유수', '현대차_누적주식보유수', 'LG화학_누적주식보유수', '기아_누적주식보유수', 'POSCO홀딩스_누적주식보유수']

In [ ]:
누적주식보유수['삼성전자_누적주식보유수']

2021-01-04    14085
2021-01-05    14226
2021-01-06    14366
2021-01-07    14507
2021-01-08    14648
              ...
2021-12-24    48312
2021-12-27    48453
2021-12-28    48594
2021-12-29    48735
2021-12-30    48875
Name: 삼성전자_누적주식보유수, Length: 248, dtype: int64

In [ ]:
종목_list

['삼성전자',
 'SK하이닉스',
 'NAVER',
 '삼성바이오로직스',
 '카카오',
 '삼성SDI',
 '현대차',
 'LG화학',
 '기아',
 'POSCO홀딩스']

In [ ]:
일자별매매내역 = pd.DataFrame()
for i,e in enumerate(종목_list):

    일자별매매내역[e] = 누적주식보유수.iloc[:,i].diff(1)

In [ ]:
일자별매매내역.iloc[:1,:] = 누적주식보유수.iloc[:1,:]

# 전체조사결과

In [ ]:
코스피대장주

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,83000,126000,293000,819298,79483,671000,207500,889000,64000,273000
2021-01-05,83900,130500,292500,822263,78881,686000,209500,893000,63700,285000
2021-01-06,82200,131000,290000,807438,79383,680000,203000,890000,62200,280000
2021-01-07,82900,134500,289500,809415,80788,698000,206000,962000,63000,291000
2021-01-08,88800,138000,312000,827204,87111,739000,246000,999000,68300,294500
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,80500,128000,384000,874642,114500,651000,215500,621000,85100,284000
2021-12-27,80200,126000,380500,875631,113000,644000,213500,627000,84800,281500
2021-12-28,80300,127500,384500,880572,113500,651000,214000,632000,84500,283500
2021-12-29,78800,127000,382000,879584,114000,663000,212000,628000,83400,279000
2021-12-30,78300,131000,378500,892432,112500,655000,209000,615000,82200,274500

In [ ]:
발행주식수

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-05,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-06,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-07,5969782550,728002365,164263395,66165000,88436556,68764530,213668187,70592343,405363347,87186835
2021-01-08,5969782550,728002365,164263395,66165000,88459906,68764530,213668187,70592343,405363347,87186835
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-27,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-28,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-29,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835
2021-12-30,5969782550,728002365,164049085,66165000,445784877,68764530,213668187,70592343,405363347,87186835

In [ ]:
시가총액

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스,전체시가총액,지수,코스피200지수
2021-01-04,3.722631e+16,6.815413e+15,3.937448e+15,1.631144e+15,5.136238e+14,3.363217e+15,2.818892e+15,4.150093e+15,1.606147e+15,1.622583e+15,6.368487e+16,100.000000,399.88
2021-01-05,3.762997e+16,7.058820e+15,3.930729e+15,1.637047e+15,5.097337e+14,3.438401e+15,2.846062e+15,4.168767e+15,1.598618e+15,1.693905e+15,6.451205e+16,101.298865,406.03
2021-01-06,3.686750e+16,7.085865e+15,3.897133e+15,1.607532e+15,5.129776e+14,3.408328e+15,2.757760e+15,4.154762e+15,1.560974e+15,1.664187e+15,6.351702e+16,99.736435,402.08
2021-01-07,3.718146e+16,7.275182e+15,3.890413e+15,1.611468e+15,5.220568e+14,3.498548e+15,2.798515e+15,4.490877e+15,1.581051e+15,1.729566e+15,6.457914e+16,101.404204,410.81
2021-01-08,3.982767e+16,7.464499e+15,4.192777e+15,1.646884e+15,5.630651e+14,3.704050e+15,3.341916e+15,4.663603e+15,1.714060e+15,1.750369e+15,6.886889e+16,108.140111,430.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,3.610504e+16,6.923594e+15,5.153609e+15,1.741329e+15,3.729666e+15,3.262973e+15,2.927573e+15,2.898997e+15,2.135673e+15,1.687962e+15,6.656641e+16,104.524682,400.53
2021-12-27,3.597048e+16,6.815413e+15,5.106636e+15,1.743298e+15,3.680806e+15,3.227887e+15,2.900402e+15,2.927006e+15,2.128145e+15,1.673103e+15,6.617318e+16,103.907217,398.61
2021-12-28,3.601533e+16,6.896548e+15,5.160319e+15,1.753135e+15,3.697092e+15,3.262973e+15,2.907195e+15,2.950348e+15,2.120616e+15,1.684990e+15,6.644855e+16,104.339614,401.21
2021-12-29,3.534257e+16,6.869503e+15,5.126767e+15,1.751168e+15,3.713379e+15,3.323119e+15,2.880025e+15,2.931675e+15,2.093010e+15,1.658244e+15,6.568946e+16,103.147667,396.72
2021-12-30,3.511831e+16,7.085865e+15,5.079794e+15,1.776747e+15,3.664519e+15,3.283022e+15,2.839270e+15,2.870987e+15,2.062895e+15,1.631498e+15,6.541291e+16,102.713422,394.19

In [ ]:
펀드

,삼성전자_편입비중,SK하이닉스_편입비중,NAVER_편입비중,삼성바이오로직스_편입비중,카카오_편입비중,삼성SDI_편입비중,현대차_편입비중,LG화학_편입비중,기아_편입비중,POSCO홀딩스_편입비중,지수,총좌수,iNAV,AUM,삼성전자_매매내역,SK하이닉스_매매내역,NAVER_매매내역,삼성바이오로직스_매매내역,카카오_매매내역,삼성SDI_매매내역,현대차_매매내역,LG화학_매매내역,기아_매매내역,POSCO홀딩스_매매내역
2021-01-04,0.584539,0.107018,0.061827,0.025613,0.008065,0.052810,0.044263,0.065166,0.025220,0.025478,100.000000,100000,20000.000000,2.000000e+09,14085,1698,422,62,202,157,426,146,788,186
2021-01-05,0.583301,0.109419,0.060930,0.025376,0.007901,0.053299,0.044117,0.064620,0.024780,0.026257,101.298865,101000,20259.772964,2.046237e+09,14226,1715,426,63,204,158,430,148,796,188
2021-01-06,0.580435,0.111559,0.061356,0.025309,0.008076,0.053660,0.043418,0.065412,0.024576,0.026201,99.736435,102000,19947.287091,2.034623e+09,14366,1732,430,63,206,160,435,149,803,190
2021-01-07,0.575750,0.112655,0.060243,0.024953,0.008084,0.054175,0.043335,0.069541,0.024482,0.026782,101.404204,103000,20280.840895,2.088927e+09,14507,1749,434,64,209,162,439,151,811,192
2021-01-08,0.578311,0.108387,0.060881,0.023913,0.008176,0.053784,0.048526,0.067717,0.024889,0.025416,108.140111,104000,21628.022146,2.249314e+09,14648,1766,438,65,211,163,443,152,819,194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-24,0.542391,0.104010,0.077421,0.026159,0.056029,0.049018,0.043980,0.043550,0.032083,0.025358,104.524682,343000,20904.936412,7.170393e+09,48312,5826,1445,214,3508,539,1463,502,2703,640
2021-12-27,0.543581,0.102994,0.077171,0.026344,0.055624,0.048779,0.043830,0.044233,0.032160,0.025284,103.907217,344000,20781.443318,7.148817e+09,48453,5843,1449,215,3518,541,1467,504,2711,642
2021-12-28,0.542003,0.103788,0.077659,0.026383,0.055638,0.049105,0.043751,0.044400,0.031914,0.025358,104.339614,345000,20867.922854,7.199433e+09,48594,5860,1454,215,3529,543,1471,505,2719,643
2021-12-29,0.538025,0.104575,0.078046,0.026658,0.056529,0.050588,0.043843,0.044629,0.031862,0.025244,103.147667,346000,20629.533420,7.137819e+09,48735,5877,1458,216,3539,544,1476,507,2726,645
2021-12-30,0.536871,0.108325,0.077657,0.027162,0.056021,0.050189,0.043405,0.043890,0.031537,0.024942,102.713422,347000,20542.684418,7.128311e+09,48875,5894,1462,216,3549,546,1480,508,2734,647

In [ ]:
일자별매매내역

,삼성전자,SK하이닉스,NAVER,삼성바이오로직스,카카오,삼성SDI,현대차,LG화학,기아,POSCO홀딩스
2021-01-04,14085.0,1698.0,422.0,62.0,202.0,157.0,426.0,146.0,788.0,186.0
2021-01-05,141.0,17.0,4.0,1.0,2.0,1.0,4.0,2.0,8.0,2.0
2021-01-06,140.0,17.0,4.0,0.0,2.0,2.0,5.0,1.0,7.0,2.0
2021-01-07,141.0,17.0,4.0,1.0,3.0,2.0,4.0,2.0,8.0,2.0
2021-01-08,141.0,17.0,4.0,1.0,2.0,1.0,4.0,1.0,8.0,2.0
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,141.0,17.0,4.0,1.0,10.0,1.0,4.0,1.0,8.0,2.0
2021-12-27,141.0,17.0,4.0,1.0,10.0,2.0,4.0,2.0,8.0,2.0
2021-12-28,141.0,17.0,5.0,0.0,11.0,2.0,4.0,1.0,8.0,1.0
2021-12-29,141.0,17.0,4.0,1.0,10.0,1.0,5.0,2.0,7.0,2.0
2021-12-30,140.0,17.0,4.0,0.0,10.0,2.0,4.0,1.0,8.0,2.0

In [ ]:
누적주식보유수

,삼성전자_누적주식보유수,SK하이닉스_누적주식보유수,NAVER_누적주식보유수,삼성바이오로직스_누적주식보유수,카카오_누적주식보유수,삼성SDI_누적주식보유수,현대차_누적주식보유수,LG화학_누적주식보유수,기아_누적주식보유수,POSCO홀딩스_누적주식보유수
2021-01-04,14085,1698,422,62,202,157,426,146,788,186
2021-01-05,14226,1715,426,63,204,158,430,148,796,188
2021-01-06,14366,1732,430,63,206,160,435,149,803,190
2021-01-07,14507,1749,434,64,209,162,439,151,811,192
2021-01-08,14648,1766,438,65,211,163,443,152,819,194
...,...,...,...,...,...,...,...,...,...,...
2021-12-24,48312,5826,1445,214,3508,539,1463,502,2703,640
2021-12-27,48453,5843,1449,215,3518,541,1467,504,2711,642
2021-12-28,48594,5860,1454,215,3529,543,1471,505,2719,643
2021-12-29,48735,5877,1458,216,3539,544,1476,507,2726,645
2021-12-30,48875,5894,1462,216,3549,546,1480,508,2734,647